@charset "UTF-8";
body {
	background-image:url("../images/ink-7294678_1920.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 10px 10px 10px 10px;
}
h1 {
    height: 30px;
    font-size: 30px;
    text-align:left;
    color: #16294A;
    margin: 0px;
    padding-bottom: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(22,41,74,1.00);
    font-weight: 400;
}
h2  {
    height: 30px;
    font-size: 20px;
    text-align:left;
    color: #16294A;
    margin: 0px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(22,41,74,1.00);
    font-weight: 400;
}
h3  {
    height: 30px;
    font-size: 18px;
    text-align:left;
    color: #16294A;
    margin: 0px;
    padding-bottom: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 350;
}
p {
    font-size: 14px;
    font-weight: 400;
    line-height: 175%;
    color: #000;
    padding-bottom: 10px;
}
#content{
	background: #E7E7E7;
	padding: 10px 20px 20px 20px;
}
img {
	padding: 20px 20px 20px 20px;
	align-content: center;
	height: 500px;
	width: inherit;
}
#toplogo{
	background-color:#E6E6E6E6;
}	

#mainlogo{
	padding: 15px 0px 15px 0px;
}
.support {
	align-content: center;
	max-width: inherit;
}
#nav_bar{
	margin: 0px;
	padding: 15px 0px 0px 0px;
	width: 100%;
	text-align: center;
	background-color:#233D75;
	border: #ECC769 groove 5px;
}
#nav_bar p {
	padding: 5px 10px 0px 10px;
	height: 30px;
	border-right: 3px solid #7092BC;
	display:inline-block;
}
#nav_bar p a {
	color: #FFF;
	text-decoration: none;
	text-transform:inherit;
	font-size: 15px;

}
#nav_bar p a:hover{
	color:#7888A9;
}
#nav_bar p:last-of-type{
	border-right: 2px;
}
#Form{
	background-color: #E7E7E7;
}
figure {
	margin: 5px;
	padding: 0px;
	width: 150px;
	display: inline-block;
}
.light {
	height: 250px;
	align-content: center;
}
.img-fluid {
	width: 100%;
}
.feature-section {
	margin: 15px 0px 15px 0px;
	padding: 15px 0px 0px 0px;
	border-radius: 20px 20px 0px 0px;

}
.feature-section p {
	color: #000000;
	background-color: rgba(255,255,255,0.80);
	font-size: 13px;
	padding: 10px 10px 15px 10px;
	margin: 0px;
}
#foot{
		padding: 15px 0px 5px 0px;
}
footer {
	text-align: center;
	background-color:#233D75;
	font-size: 12px;
	border: #ECC769 groove 5px;
	

}
footer p {
	color: #FFFFFF;
	padding: 15px 0px 0px 0px
}
